<div>
    <ul>
        <h1>Carros Cadastrados</h1>
        <% carros.forEach(function(carro){ %>
            <div id="carros">
                <div>
                    <img id="imagem" src="/uploads/<%=carro.imagem%>" alt="">
                </div>
            <div class="item">
                <h2>Modelo:</h2>
                <p><%=carro.modelo%></p>
            </div>
            <div class="item">
                <h2>Fabricante:</h2>
                <p><%=carro.fabricante%></p>
            </div>
            <div class="item">
                <h2>Ano:</h2>
                <p><%=carro.ano%></p>
            </div>
            <div class="item">
                <h2>Placa:</h2>
                <p><%=carro.placa%></p>
            </div>
            <div class="item">
                <h2>Numero Renavam:</h2>
                <p><%=carro.numero_renavam%></p>
            </div>
            
            <div class="buttons">
                <a class="btn-slice" href="/deletar/<%=carro.id%>">
                    <button type="button" class="btn btn-outline-danger">Deletar</button>
                </a>
            </div>
            </div>
            
        <% }); %>
    </ul>
</div>